.standings-page-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  position: relative;
}
/* MIDDLE  */
.standings-page-middle {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}
.standings {
  width: 100%;
  align-items: center;
  padding:2rem;
}
.standings-row-names {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  padding-bottom: .5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.team-label {
  position: absolute;
  left: .5rem;
}
.right-team-labels {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}
.standings-columns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 48px;
}
.standings-columns:hover {
  background-color: rgba(0, 0, 0, 0.212);
}
.right-team-columns {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  margin-right: .4rem;
}
.team-column {
  display: flex;
  position: absolute;
  left: .5rem;
  align-items: center;
}
.standings-table {
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 241, 241, 0.808);
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 1rem;
  width: 100%;
  height: 550px;
  position: relative;
  justify-content: space-evenly;
  padding: .5rem;
}
.seattle {
  margin-left: 1rem;
}
