/* LEFT  */
.game-lobby-page-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  position: relative;
}
.game-lobby-left {
  border-right: 1px solid rgba(59, 59, 59, 0.2);
  display: flex;
  justify-content: flex-end;
  /* padding: 1rem 2rem; */
  padding: 0rem 3rem;
}

/* MIDDLE  */
.game-lobby-middle {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  position: relative;
}
.game-lobby-teams {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(59, 59, 59, 0.2);
  position: sticky;
  top: 0;
  background-color: white;
}
.game-lobby-team-info {
  display: flex;
  align-items: center;
  margin: 2rem;
}
.game-lobby-team-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-lobby-score {
  margin: 0rem 3rem;
  font-size: 2rem;
  font-weight: bold;
}
.chirps-container {
  overflow: scroll;
  background-color: rgb(245, 245, 245);
  height: 29.5rem;
}
.individual-chirp {
  padding: 1rem;
  border-bottom: 1px solid rgba(59, 59, 59, 0.2);
  position: relative;
}
.chirp-user-info {
  display: flex;
  align-items: flex-start;
}
.chirp-username {
  margin-top: .35rem;
  font-size: .95rem;
  font-weight: bold;
}
.chirp-avatar {
  width: 45px;
  height: 45px;
  margin-right: .25rem;
  opacity: .7;
}
.chirp-content {
  margin-top: .25rem;
  font-size: .9rem;
}
.chirp-option-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: .5rem;
}
.game-lobby-input-container {
  background-color: rgb(236, 236, 236);
  border-top: 1px solid rgba(59, 59, 59, 0.2);
  height: 6rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chirp-bottom-input {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(59, 59, 59, 0.2);
  border-radius: 1rem;
  margin: .5rem;
}
#chirp-text-area {
  width: 100%;
  height: 4rem;
  resize: none;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
}
.chirp-button {
  border: none;
  background-color: transparent;
}
.reg-chirp-button {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 1.5rem;
  color: rgba(51, 51, 51, 0.801);
  transform: rotate(90deg) translateX(-50%);
  cursor: pointer;
  transition: .1s all ease-out;
}
.reg-chirp-button:hover {
  color: rgb(51, 51, 51);
}
.cancel-edit-button {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 1.5rem;
  transform: translateY(-50%);
  color: rgba(255, 88, 88, 0.836);
  cursor: pointer;
  transition: .1s all ease-out;
}
.cancel-edit-button:hover {
  color: rgb(255, 88, 88);
}

/* RIGHT  */
.game-lobby-right {
  border-left: 1px solid rgba(59, 59, 59, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
