.home-page-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  position: relative;
}
/* LEFT SIDE */
.home-page-left {
  border-right: 1px solid black;
  display: flex;
  justify-content: flex-end;
  /* padding: 1rem 2rem; */
  padding: 0rem 3rem;
}

/* MIDDLE  */
.home-page-middle {
  grid-column: span 2;
}

/* RIGHT SIDE  */
.home-page-right {
  border-left: 1px solid black;
}
