.nav-bar-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 5rem;
  left: 0;
}
.nav-bar-list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem 2rem;
  border-radius: 3rem;
  padding: .5rem 1rem;
  padding-right: 1.8rem;
  cursor: pointer;
  transition: .1s all ease-in;
}
.nav-bar-list > li:hover {
  background-color: rgba(180, 180, 180, 0.171);
  transform: scale(1.01);
}
.nav-bar-list > li > a {
  text-decoration: none;
  color: black;
  padding-left: 1rem;
  font-size: 1.4rem;
}
.nav-icon {
  width: 32px;
  height: 32px;
}
.home-text {
  font-weight: 600;
}
.nav-scores-link {
  cursor: pointer;
  padding-left: 1rem;
  font-size: 1.4rem;
}
.nav-lobby-button {
  margin-left: 3.1rem;
  margin-top: 1rem;
  height: 3rem;
  width: 12rem;
  border: none;
  background-color: rgb(79, 149, 255);
  color: white;
  border-radius: 3rem;
  font-weight: bold;
  font-size: .9rem;
  cursor: pointer;
  transition: .1s all ease-in;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.nav-lobby-button:hover {
  background-color: rgb(66, 142, 255);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.nav-avatar {
  width: 60px;
  height: 60px;
  margin-right: .8rem;
  opacity: .7;
}
.user-profile-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 3rem;
  margin-left: 1.1rem;
  cursor: pointer;
  border-radius: 3rem;
  padding: .5rem 1rem;
  /* padding-right: 1.8rem; */
}
.user-profile-container:hover {
  background-color: rgba(180, 180, 180, 0.171);
  /* transform: scale(1.01); */
}
.nav-username {
  font-weight: 600;
}
.nav-email {
  opacity: .7;
}
.nav-user-options {
  z-index: 100;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  top: -9.5rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.212);
  width: 300px;
  border-radius: 6px;
}
.user-profile-options {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  padding-right: 1.8rem;
  cursor: default;
}
.logout-button {
  width: 100%;
  border: none;
  background-color: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.219);
  cursor: pointer;
  height: 3rem;
  text-align: start;
  padding-left: 1.7rem;
  font-size: 1rem;
  border-radius: 0rem 0rem 6px 6px;
  color: rgba(0, 0, 0, 0.774);
}
.nav-options-avatar {
  width: 80px;
  height: 80px;
  margin-right: .8rem;
  opacity: .7;
}
.logout-button:hover {
  background-color: rgba(128, 128, 128, 0.13);
}
.triangle {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid rgb(228, 228, 228);
  position: absolute;
  bottom: -.6rem;
  left: 1.3rem;
  z-index: 1;
}
@media only screen and (max-width: 1060px) {
  .home-text {
    display: none;
  }
  .nav-scores-link {
    display: none;
  }
  .users {
    display: none;
  }
  .nav-lobby-button {
    display: none;
  }
  .nav-bar-list {
    align-items: center;
  }
  .nav-user-info {
    display: none;
  }
  .nav-bar-list > li {
    padding-right: 1rem;
  }
  .user-profile-container {
    padding-right: 1rem;
  }
  .nav-avatar {
    margin-right: 0rem;
  }
}
